# 기본 전부 무시
*

# 이 파일 자체
!.gitignore

# hyprland
!hypr/
!hypr/hyprland.conf
!hypr/clamshell.sh

# nwg-dock-hyprland
!nwg-dock-hyprland/
!nwg-dock-hyprland/*

# fcitx5
!fcitx5/
!fcitx5/config

# komorebi (Windows)
!komorebi/
!komorebi/*

# kitty
!kitty/
!kitty/*

# wezterm
!wezterm/
!wezterm/*

# nushell
!nushell/
!nushell/*

# 기타
!README.md
!whkdrc
!nwg-dock-pinned
!screenshot-area.sh
