# 기본 전부 무시
*

# 이 파일 자체
!.gitignore

# xkb
!xkb/
!xkb/**

# hyprland
!hypr/
!hypr/*

# waybar
!waybar/
!waybar/*

# nwg-dock-hyprland
!nwg-dock-hyprland/
!nwg-dock-hyprland/*

# chillpill-shell
!chillpill-shell/
!chillpill-shell/*

# fcitx5
!fcitx5/
!fcitx5/config

# komorebi (Windows)
!komorebi/
!komorebi/*

# kitty
!kitty/
!kitty/*

# wezterm
!wezterm/
!wezterm/*

# nushell
!nushell/
!nushell/*
nushell/history.txt

# bincur
!bincur/
!bincur/*
!bincur-Windows/
!bincur-Windows/*

# 기타
!README.md
!whkdrc
!nwg-dock-pinned
!screenshot-area.sh
